body {
  background-color: #235789;
  background-image: url("Untitled2.png");
  background-repeat: repeat repeat;
}

.russia {
  /* Borrowed this button styling from https://fdossena.com */
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.8em 0.8em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #da291c;
  font-size: 18px;
}
.russia:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
   .russia {
    display: block;
    margin: 0.4em auto;
  }
}

.jumbotron {
  background: rgba(0, 27, 86, 0.92);
  color: #ffffff;
  margin: 20px 40px;
}

#headline {
  font-family: "Sofia", cursive;
}

#add-russia {
  background-color: #005dd6;
  margin: 10px;
  font-size: 18px;
}

#add-another {
  font-size: 20px;
}

#buttons-view {
  margin: 30px 10px 10px 10px;
}

#russia-input {
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  margin: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
}

#russia-form {
  /* border: 0.1em solid #ffffff; */
  display: flex;
  align-content: center;
  align-items: center;
}

#add-another {
  size: 20px;
}

#gifs-appear-here {
  padding: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}

#gifs-appear-here div {
  margin: 14px;
  padding: 6px;
}
